
<% if current_user %>
    <header>
    <h1>Hello, <%= current_user.firstname%> <%= current_user.lastname%>!</h1>
    </header>
    
    <body>
    <p id="des">
    Current Weight:
    <% if @progress.any? %>
        <%= @current.weight%> <br />
        Height:
        <%= current_user.height_feet%> ft 
        <%= current_user.height_inches%> in<br />
        Current BMI:
        <%= @current.bmi %> <br />
    <% else %>   
        <%= current_user.weight%> <br />
        Height:
        <%= current_user.height_feet%> ft 
        <%= current_user.height_inches%> in<br />
        Current BMI:
        <%= "%.2f" % ((703 * current_user.weight) / ((current_user.height_feet * 12.0 + current_user.height_inches) * (current_user.height_feet * 12.0 + current_user.height_inches))) %> <br />
    <% end %>    
    
    
    </p>
    <h2>
        Progress
    </h2>
    <table>
  <tr>
    <th>Date</th>
    <th>Weight</th>
    <th>BMI</th>
    <th>Goal</th>
  </tr>
 
  <% @progress.each do |progress| %>
    <tr>
      <td><%= progress.date %></td>
      <td><%= progress.weight %></td>
      <td><%= progress.bmi %></td>
      <td><%= progress.goal %></td>
      <td><%= link_to 'Show', progress_path(progress) %></td>
      <td><%= link_to 'Destroy', progress_path(progress), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<h4>
    <%= link_to 'UPDATE PROGRESS', new_progress_path %>
</h4>
    <h2>
        My Exercises
    </h2>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="tableBody">
    <% @exercises.each do |exercise| %>
      <% if (current_user.username == exercise.created_by) then %>
      <tr>
        <td>
          <% if exercise.image? %>
          <%= image_tag exercise.image.thumb.url %> 
          <% end %>
        </td>
        <td><%= exercise.name %></td>
        <td><%= exercise.description %></td>
        <td><%= button_to "Show", exercise, :method => "get" %></td>
            <td><%= button_to "Edit", edit_exercise_path(exercise), :method => "get" %></td>
            <td><%= button_to "Delete", exercise, :method => "delete", data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<h4>
    <%=link_to "NEW EXERCISE", new_exercise_path%>
</h4>
    </body>
<%else%>
    <header>
    <h1>Hello, Workout App User!</h1>
    </header>
    
    <body>
    <p id="des">Please Sign In to get additional information.</p>
    </body>
<% end %>

<style>
