<p id="notice"><%= notice %></p>

<p>
<h1>
  <%= @exercise.name %>
</h1>
<body>
  <div id="form">
  <p>
  <strong>Image:</strong>
  <%= image_tag @exercise.image.thumb.url %>
</p>
<p class="showInfo">
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p class="showInfo">
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %>
</div>
</body>
<style>
body {
   background-color: lightgrey;
}
</style>